@font-face {
 font-family: 'Exo 2';
  url('/font/Exo2-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
}
@keyframes in-progress {
 from {
  transform:rotate(0deg)
 }
 to {
  transform:rotate(90deg)
 }
}
.s3games {
 display:none
}
.s3games.active {
 display:block
}
.s3games-in-progress {
 animation-name:in-progress;
 animation-duration:0.5s;
 animation-iteration-count:infinite;
 animation-timing-function:ease-in-out;
 position:fixed;
 margin-top:-9rem;
 width:100vw;
 height:100vh;
 display:flex;
 align-items:center;
 justify-content:center
}
.s3games-in-progress .s3games-item {
 background-color:#0c0;
 border-radius:100%;
 position:absolute;
 width:2em;
 height:2em
}
.s3games-in-progress .s3games-item.s3games-item1 {
 transform:rotate(90deg) translate(3em, 0)
}
.s3games-in-progress .s3games-item.s3games-item2 {
 transform:rotate(180deg) translate(3em, 0)
}
.s3games-in-progress .s3games-item.s3games-item3 {
 transform:rotate(270deg) translate(3em, 0)
}
.s3games-in-progress .s3games-item.s3games-item4 {
 transform:rotate(360deg) translate(3em, 0)
}
.s3games-please-wait {
 font-size:3em;
 margin-bottom:-9rem;
 text-shadow:0 0 1rem #000
}
.s3games-layer {
 background-color:rgba(0,0,0,0.75);
 color:#fff;
 cursor:pointer;
 font-family:Ubuntu;
 font-size:20px;
 display:flex;
 align-items:center;
 justify-content:center;
 position:fixed;
 left:0;
 top:0;
 width:100vw;
 height:100vh;
 z-index:16000000
}
.s3games-layer .s3games-window {
 background-color:#000;
 background-image:url("https://account.s3games.com/images/pattern.png");
 border:1px solid rgba(255,255,255,0.1);
 border-radius:0.5rem;
 box-shadow:0 0 5rem #000;
 box-sizing:border-box;
 cursor:auto;
 padding:2rem;
 min-width:600px;
 max-width:calc(100vw - 4rem);
 max-height:calc(100vh - 4rem);
 overflow-y:auto
}
.s3games-layer .s3games-window::-webkit-scrollbar {
 cursor:pointer;
 width:0.5rem
}
.s3games-layer .s3games-window::-webkit-scrollbar-track {
 background:transparent;
 cursor:pointer
}
.s3games-layer .s3games-window::-webkit-scrollbar-thumb {
 background:rgba(255,255,255,0.5);
 border-radius:0.25rem;
 height:2rem
}
.s3games-layer .s3games-window::-webkit-scrollbar-thumb:hover {
 background:#fff
}
.s3games-layer .s3games-window::-webkit-scrollbar-corner {
 background:transparent
}
.s3games-layer .s3games-window h1 {
 font-size:2rem;
 font-weight:normal;
 margin-bottom:2rem
}
.s3games-layer .s3games-window form {
 margin:0;
 padding:0
}
.s3games-layer .s3games-window label {
 display:block;
 margin-bottom:0.5rem
}
.s3games-layer .s3games-window button,
.s3games-layer .s3games-window input[type=email],
.s3games-layer .s3games-window input[type=password],
.s3games-layer .s3games-window input[type=text],
.s3games-layer .s3games-window textarea {
 border:none;
 border-radius:0.25rem;
 color:inherit;
 font:inherit
}
.s3games-layer .s3games-window input[type=email],
.s3games-layer .s3games-window input[type=password],
.s3games-layer .s3games-window input[type=text],
.s3games-layer .s3games-window textarea {
 background-color:rgba(0,0,0,0.5);
 box-shadow:0 0 0 1px rgba(255,255,255,0.25);
 padding:0.5rem 1rem
}
.s3games-layer .s3games-window input[type=email]:focus,
.s3games-layer .s3games-window input[type=password]:focus,
.s3games-layer .s3games-window input[type=text]:focus,
.s3games-layer .s3games-window textarea:focus {
 background-color:rgba(255,255,255,0.15)
}
.s3games-layer .s3games-window button {
 cursor:pointer;
 padding:0.5rem 1.5rem
}
.s3games-layer .s3games-window button.s3games-primary {
 background-color:rgba(0,204,0,0.75)
}
.s3games-layer .s3games-window button.s3games-primary:hover {
 background-color:#0c0;
 box-shadow:0 0 0.5rem #0c0
}
.s3games-layer .s3games-window button.s3games-secondary {
 background-color:rgba(102,102,102,0.75)
}
.s3games-layer .s3games-window button.s3games-secondary:hover {
 background-color:#666;
 box-shadow:0 0 0.5rem #666
}
.s3games-layer .s3games-window input[type=email],
.s3games-layer .s3games-window input[type=password],
.s3games-layer .s3games-window input[type=text] {
 width:400px
}
.s3games-layer .s3games-window textarea {
 line-height:1.5rem;
 width:600px
}
.s3games-layer .s3games-window .s3games-a {
 color:#666;
 cursor:pointer
}
.s3games-layer .s3games-window .s3games-a:hover {
 color:#fff;
 text-shadow:0 0 0.25rem #fff
}
.s3games-layer .s3games-window a.s3games-icon {
 margin:0 0.75rem;
 opacity:0.75
}
.s3games-layer .s3games-window a.s3games-icon:hover {
 opacity:1
}
.s3games-layer .s3games-window .s3games-center {
 text-align:center
}
.s3games-layer .s3games-window .s3games-pill {
 border:1px solid rgba(255,255,255,0.5);
 border-radius:0.25rem;
 color:#fff;
 cursor:pointer;
 display:inline-block;
 font-size:0.85rem;
 padding:0.5rem;
 margin:0 0.75rem;
 text-decoration:none;
 vertical-align:middle
}
.s3games-layer .s3games-window .s3games-pill:hover {
 background-color:#fff;
 color:#000
}
.s3games-layer .s3games-window .s3games-row {
 display:flex;
 flex-direction:row
}
.s3games-layer .s3games-window .s3games-row.s3games-justify-between {
 justify-content:space-between
}
.s3games-layer .s3games-window .s3games-row.s3games-justify-center {
 justify-content:center
}
.s3games-layer .s3games-window .s3games-group {
 margin-bottom:2rem
}
.s3games-layer .s3games-window .s3games-group:last-child {
 margin-bottom:0
}
.s3games-layer .s3games-window .s3games-text {
 line-height:1.5em;
 max-width:1000px
}
.s3games-layer .s3games-window .s3games-note {
 color:#0e0
}
.s3games-layer .s3games-window .top {
 font-size:14px;
 width:800px
}
.s3games-layer .s3games-window .top tr th,
.s3games-layer .s3games-window .top tr td {
 border-bottom:1px solid rgba(255,255,255,0.25);
 padding:0.75em 0.5em;
 white-space:nowrap
}
.s3games-layer .s3games-window .top tr th:first-child,
.s3games-layer .s3games-window .top tr td:first-child {
 text-align:right
}
.s3games-layer .s3games-window .top tr th {
 opacity:0.5
}

/* ========================== custom drawing =========================== */

* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* Canvas */

.whiteboard {
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
}

.colors {
  position: fixed;
}

.color {
  display: inline-block;
  height: 48px;
  width: 48px;
}

.color.black { background-color: black; border-radius: 10px; }
.color.red { background-color: red; border-radius: 10px; }
.color.green { background-color: green; border-radius: 10px; }
.color.blue { background-color: blue; border-radius: 10px; }
.color.yellow { background-color: yellow; border-radius: 10px; }

#wipe-button {
  position: absolute;
  top: 50px;
  border-radius: 8px;
  opacity: 40%;
  color: white;
  background-color: black;
  left: 1px;
}

/* ========================== custom chat =========================== */

/* Pages */

.pages {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

.page {
  height: 100%;
  position: absolute;
  width: 100%;
}

/* Login Page */

.name2 {
  font-weight: 400;
  font-size: 18px;
  z-index: 1;
  border: transparent;
  top: 0;
  height: 60px;
  left: 0;
  outline: none;
  padding-left: 10px;
  position: absolute;
  right: 0;
  width: 100%;
  background-color: transparent;
  color: white;
}

/* Chat page */

.chat.page {
  display: none;
}

/* Font */

.messages {
  font-size: 130%;
  color: white;
}

.inputMessage {
  font-size: 100%;
}

.log {
  color: gray;
  font-size: 70%;
  margin: 5px;
  text-align: center;
}

/* Messages */

.chatArea {
  height: 100%;
  padding-bottom: 60px;
  overflow-y: hidden;
}

.messages {
  height: calc(100% - 3rem);
  margin: 0;
  overflow-y: scroll;
  padding: 10px 20px 10px 10px;
  scrollbar-color: transparent rgba(255, 255, 255, 0.05);
  scrollbar-width: none;
  margin-top: 3rem;
}

.message.typing .messageBody {
  color: gray;
  margin-top: 1rem;
}

.username {
  font-weight: 400;
  overflow: hidden;
  padding-right: 15px;
  /* text-align: right; */
  margin-top: 1rem;
}

/* Input */

.inputMessage {
  border: transparent;
  bottom: 0;
  height: 60px;
  left: 0;
  outline: none;
  padding-left: 10px;
  position: absolute;
  right: 0;
  width: 100%;
  background-color: transparent;
  color: white;
}

/* Custom Fonts */

/* cyrillic-ext */
@font-face {
  font-family: 'Exo 2';
  font-style: italic;
  font-weight: 100 900;
  src: url(/fonts/7cHov4okm5zmbtYtG-Ec5UIo.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Exo 2';
  font-style: italic;
  font-weight: 100 900;
  src: url(/fonts/7cHov4okm5zmbtYtG-gc5UIo.woff2) format('woff2');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* vietnamese */
@font-face {
  font-family: 'Exo 2';
  font-style: italic;
  font-weight: 100 900;
  src: url(/fonts/7cHov4okm5zmbtYtG-Mc5UIo.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Exo 2';
  font-style: italic;
  font-weight: 100 900;
  src: url(/fonts/7cHov4okm5zmbtYtG-Ic5UIo.woff2) format('woff2');
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Exo 2';
  font-style: italic;
  font-weight: 100 900;
  src: url(/fonts/7cHov4okm5zmbtYtG-wc5Q.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Exo 2';
  font-style: normal;
  font-weight: 100 900;
  src: url(/fonts/7cHmv4okm5zmbtYlK-4E4Q.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Exo 2';
  font-style: normal;
  font-weight: 100 900;
  src: url(/fonts/7cHmv4okm5zmbtYsK-4E4Q.woff2) format('woff2');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* vietnamese */
@font-face {
  font-family: 'Exo 2';
  font-style: normal;
  font-weight: 100 900;
  src: url(/fonts/7cHmv4okm5zmbtYnK-4E4Q.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Exo 2';
  font-style: normal;
  font-weight: 100 900;
  src: url(/fonts/7cHmv4okm5zmbtYmK-4E4Q.woff2) format('woff2');
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Exo 2';
  font-style: normal;
  font-weight: 100 900;
  src: url(/fonts/7cHmv4okm5zmbtYoK-4.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
